<div class='row'>
    <div class='col-sm-5'>
        <img {{bind-attr src='avatar' alt='name'}} class='img-thumbnail img-rounded'/>
    </div>
    <div class='col-sm-7'>
        <h2>{{model.name}}</h2>

        <p>{{model.about}}</p>
    </div>
</div>