<h1>Welcome to The Flint &amp; Flame!</h1>
<p>There are {{productsCount}} products.</p>

<p><img {{bind-attr src='logo'}} alt="logo" /></p>

{{#each product in onSale}}
  {{product-details product=product classNames="col-sm-4"}}
{{/each}}
<p>{{time}}</p>